<section class="w-full min-h-screen h-196.5 relative overflow-x-hidden font-raleway">
  <img src="/landing/bg-hero.png" alt="" class="object-cover w-full h-full" />

  <div class="w-full h-full max-w-300 absolute inset-0 mx-auto flex flex-col justify-center">
    <div class="z-20 flex flex-col gap-9.5">
      <div class="flex flex-col text-white gap-6">
        <div
          class="bg-white/10 border border-white/20 rounded-full px-4 py-2 flex items-center gap-2 w-fit"
        >
          <span class="bg-primary h-2 w-2 rounded-full animate-pulse"></span>

          Os serviços nunca estiveram tão fáceis
        </div>

        <h1 class="font-extrabold text-5xl max-w-200">
          Conectamos clientes a prestadores de serviços
          <span class="text-primary animate-pulse">independentes.</span>
        </h1>

        <p class="font-normal text-cinza-3 max-w-140 w-full">
          Junte-se à Faz Tudo. A sua plataforma fiável para encontrar profissionais qualificados ou
          expandir a sua actividade comercial com segurança e rapidez.
        </p>
      </div>

      <div class="flex items-center gap-4">
        <a href="#" class="hover:scale-105 transition-all duration-300 cursor-pointer">
          <img src="/app-store.svg" alt="" class="" />
        </a>

        <a href="#" class="hover:scale-105 transition-all duration-300 cursor-pointer">
          <img src="/google-play.svg" alt="" class="" />
        </a>
      </div>
    </div>

    <hr class="w-full border-white/10 mt-10" />

    <div class="flex items-center gap-4 mt-6">
      <div class="flex items-center justify-center">
        @for (user of users.slice(0, 3); track user.id; let i = $index) {
          <div
            class="relative w-10 h-10 rounded-full overflow-hidden border-4 border-[#063B2B]"
            [class.-ml-5]="i > 0"
            [class.z-20]="i === 1"
            [class.z-10]="i !== 1"
          >
            <img [src]="user.image" [alt]="user.name" class="w-full h-full object-cover" />
          </div>
        }
      </div>

      <p class="font-normal text-cinza-3">Junte-se a +10.000 utilizadores satisfeitos</p>
    </div>

    <img src="/landing/Mockup-FazTudo.svg" alt="" class="absolute -right-22 bottom-24 z-10" />
  </div>
</section>
