<div class="bg-white rounded-xl border border-[#C2C8BE33] shadow-sm p-6 flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold text-black flex items-center gap-2">
      <img src="/icons/orders/team.svg" alt="" width="22" height="18" />
      Prestador
    </h2>
  </div>

  <div class="flex items-center gap-3">
    <img
      [src]="avatar() || '/icons/user.svg'"
      [alt]="name()"
      class="w-10 h-10 rounded-full object-cover"
    />
    <div>
      <p class="font-semibold text-[#191C1D]">{{ name() }}</p>
      <p class="text-sm text-[#424841] font-normal">
        {{ profession() }}
        @if (rating()) {
          ({{ rating() }} ★)
        }
      </p>
    </div>
  </div>

  <div class="flex gap-4">
    <img src="/icons/orders/phone.svg" alt="" width="15" height="17" />

    <div>
      <p class="text-xs uppercase text-[#424841] font-semibold">Contacto</p>
      <p class="text-sm text-[#191C1D] mt-1">{{ phone() }}</p>
    </div>
  </div>
</div>
