<div
  class="p-6 rounded-xl h-full shadow-sm shadow-[#002E130D] bg-white flex flex-col border border-[#C2C8BE33]"
>
  <h2 class="text-lg font-semibold text-[#191C1D]">{{ title }}</h2>

  <div class="flex flex-col">
    @for (item of items(); track item.label; let last = $last) {
      <div
        class="flex items-center justify-between pb-3.5 pt-4.5"
        [class.border-b]="!last"
        [class.border-gray-100]="!last"
      >
        <div class="flex items-center gap-3">
          <span
            class="w-2.5 h-2.5 rounded-full inline-block"
            [style.background-color]="item.dotColor"
          ></span>
          <span class="text-sm text-[#424841] font-normal">{{ item.label }}</span>
        </div>

        <span class="text-base font-medium" [class]="item.valueColor || 'text-[#191C1D]'">
          {{ item.value }}
        </span>
      </div>
    }
  </div>
</div>
